
body {
    background-color:#272727;
    color:#5cdb95;
   font-family:'Annie Use Your Telescope',cursive;



}

h1{ 
    font-family:
    
}

#Insertion_Section {

}

#Undated_tasks_to_do {

}

.table_line {

}

#Timed_Tasks_to_do {

}

.timed_table_line {


}

#completed{


}

//rgb(193, 224, 147)